




.App {
  text-align: center;
 
}



header {
  grid-area: header;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 5fr 0fr;
}





.container {

max-width: 800px;
margin: 0 auto;
padding: 0;
display: grid;
grid-template-columns: 10fr;
grid-template-areas: 
"header header"
"main"
"footer footer";
grid-gap: 5px;

}



